.custom-image-viewer{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
li.custom-image-viewer-item{
    margin-bottom: 15px;
    width: inherit;
    max-width: 300px
}
div.custom-image-viewer,
li.custom-image-viewer-item div{
    display: inline-block;
    position: relative;
    max-width: 400px;
    margin-bottom: 10px;
}
.drop-image:hover span,
.custom-image-viewer-item:hover span,
.custom-image-viewer-item:hover button.cropper-modal{
    visibility: visible;
}
.drop-image img,
.custom-image-viewer-item img{
    max-width: 100%;
    border-radius: 5px;
}
.custom-image-viewer-item .cropper-modal{
    position: absolute;
    display: inline-block;
    width: 31px;
    height: 30px;
    top: 0;
    right: 30px;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    text-align: center;
    border-radius: 0 0 4px 4px;
    visibility: hidden;
    border: none;
}
div.custom-image-viewer-item .cropper-modal{
    right: 0;
    margin-right: 0;
    border-radius: 0 0 0 4px;
}
.custom-image-viewer-item span{
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    text-align: center;
    border-radius: 0 0 0 4px;
    visibility: hidden;
}
.custom-image-viewer-item button.cropper-modal:before{
    font-family: FontAwesome;
    content: '\f125';
    color: #000;
    font-size: 20px;
    line-height: 28px;
    opacity: 0.4;
    /*font-weight: bold*/
}
.custom-image-viewer-item button.cropper-modal:hover:before,
.custom-image-viewer-item span:hover:before {
    opacity: 1;
}
.custom-image-viewer-item span:before{
    font-family: FontAwesome;
    content: '\f014';
    color: #000;
    font-size: 25px;
    line-height: 30px;
    opacity: 0.4;
    /*font-weight: bold*/
}
input.admin-image-upload{
    width: 1px;
    height: 1px;
    opacity: 0;
    display: inline-block;
}
label.admin-image-label{
    display: block;
    border: 2px dotted rgba(149, 168, 193, 0.7);
    border-radius: 7px;
    min-height: 200px;
    position: relative;
    padding: 20px 20px 40px;
}
label.admin-image-label:after{
    content: 'Drop files here';
    font-weight: normal;
    position: absolute;
    top: 50px;
    left: calc(50% - 70px);
    font-size: 22px;
    opacity: 0.6;
}
.drop-image{
    display: inline-block;
    max-width: 200px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
}
#clear-images{
    position: absolute;
    bottom: 5px;
    right: 5px;
}
#cropper-modal .modal-dialog{
    width: 1184px;
}
#cropper-modal .modal-body{
    text-align:center;
}
#cropper-modal #image{
    max-width: 100%;
}
#cropper-modal .image-container{
    height: 580px;
}

/*CUSTOM CHECKBOX*/
.control {display:block; position:relative; padding-left:30px; margin-bottom:15px; cursor:pointer;}
.control input {position: absolute;z-index: -1;opacity: 0;}
.control_indicator {position: absolute;top: 2px;left: 0;height: 20px;width: 20px; background: #e6e6e6;}
.control-radio .control_indicator {border-radius: 50%;}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {background: #ccc;}
.control input:checked ~ .control_indicator {background: #2aa1c0;}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {background: #0e647d;}
.control input:disabled ~ .control_indicator {background: #e6e6e6;opacity:0.6; pointer-events: none;}
.control_indicator:after {content: '';position: absolute;display: none;}
.control input:checked ~ .control_indicator:after {display: block;}
.control-checkbox .control_indicator:after {left:7px; top:4px; width:6px; height:10px; border:solid #fff;border-width:0 2px 2px 0;transform: rotate(45deg);}
.control-checkbox input:disabled ~ .control_indicator:after {border-color: #7b7b7b;}
.control-radio .control_indicator:after {left:7px;top:7px;height:6px;width:6px;border-radius:50%;background:#fff;}
.control-radio input:disabled ~ .control_indicator:after {background: #7b7b7b;}
.select {position: relative; display: inline-block;margin-bottom: 15px;width: 100%;}
.select select{display: inline-block; width: 100%;cursor: pointer; padding: 10px 15px;outline:0;
  border:0; border-radius:0; background:#e6e6e6; color:#7b7b7b; appearance:none; -webkit-appearance: none; -moz-appearance: none;}
.select select::-ms-expand {display: none;}
.select select:hover,
.select select:focus {color: #000; background: #ccc;}
.select select:disabled {opacity: 0.5; pointer-events: none;}
.select_arrow {position: absolute;top: 16px;right:15px;width:0;height: 0;pointer-events: none;border-style: solid;border-width: 8px 5px 0 5px;border-color: #7b7b7b transparent transparent transparent;}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {border-top-color: #000;}
.select select:disabled ~ .select_arrow {border-top-color: #ccc;}