
.just-busket:before { content: '\e800'; } /* '' */
.just-youtube:before { content: '\e801'; } /* '' */
.just-linkedin:before { content: '\e802'; } /* '' */
.just-flag:before { content: '\e803'; } /* '' */
.just-videocam:before { content: '\e804'; } /* '' */
.just-just:before { content: '\e805'; } /* '' */
.just-mic:before { content: '\e806'; } /* '' */
.just-docs:before { content: '\e807'; } /* '' */
.just-camera:before { content: '\e808'; } /* '' */
.just-excursion:before { content: '\e809'; } /* '' */
.just-children:before { content: '\e80a'; } /* '' */
.just-cultural:before { content: '\e80b'; } /* '' */
.just-screen:before { content: '\e80c'; } /* '' */
.just-search:before { content: '\e80d'; } /* '' */
.just-users:before { content: '\e811'; } /* '' */
.just-contacts:before { content: '\e813'; } /* '' */
.just-home:before { content: '\e815'; } /* '' */
.just-tours:before { content: '\e819'; } /* '' */
.just-hotels:before { content: '\e81a'; } /* '' */
.just-praying:before { content: '\e81c'; } /* '' */
.just-skiing-1:before { content: '\e81d'; } /* '' */
.just-activity:before { content: '\e81e'; } /* '' */
.just-log-out:before { content: '\e81f'; } /* '' */
.just-notifications-1:before { content: '\e820'; } /* '' */
.just-daily:before { content: '\e821'; } /* '' */
.just-cashback:before { content: '\e822'; } /* '' */
.just-family:before { content: '\e823'; } /* '' */
.just-gastronomic:before { content: '\e824'; } /* '' */
.just-holiday:before { content: '\e825'; } /* '' */
.just-hot:before { content: '\e826'; } /* '' */
.just-religious:before { content: '\e827'; } /* '' */
.just-skier-skiing:before { content: '\e828'; } /* '' */
.just-spa:before { content: '\e829'; } /* '' */
.just-vip:before { content: '\e82a'; } /* '' */
.just-wedding:before { content: '\e82b'; } /* '' */
.just-skiing:before { content: '\e836'; } /* '' */
.just-folder-open:before { content: '\f068'; } /* '' */
.just-twitter:before { content: '\f099'; } /* '' */
.just-flag-empty:before { content: '\f11d'; } /* '' */
.just-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.just-pinterest:before { content: '\f231'; } /* '' */
.just-facebook:before { content: '\f30c'; } /* '' */
.just-gplus:before { content: '\f30f'; } /* '' */